.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 75px;

  color: #fff;
  background-color: #6278F7;
  background-image: url(/public/imagens/fundo.png);
}

.redes {
  display: flex;
  gap: 34px;
}

.alura {
  font-size: 20px;
  font-weight: 500;
}